.home-layout {
  display: grid;
  grid-template-columns: 40% 60%;

  &__spotify {
    grid-column: 1 / 2;
  }

  &__data {
    grid-column: 2 / 3;
    color: $color-white;
  }
}

.user-data {
  position: fixed;
  top: 2rem;
  right: 3rem;
  display: grid;
  grid-template-columns: auto auto;

  & img {
    grid-column: 1 / 2;
    width: 30px;
    border-radius: 10rem;
    margin-right: 1rem;
  }

  & h1 {
    grid-column: 2 / 3;
    align-self: center;
    font-size: 1.4rem;
    color: $color-white;
    font-weight: 400;
    text-transform: uppercase;
  }
}
