@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
.green-block {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #1db954;
  width: 45rem;
}

.green-block__text {
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45rem;
      grid-template-columns: 45rem;
  -ms-grid-rows: 7rem;
      grid-template-rows: 7rem;
  background-color: #1db954;
}

.green-block__text h2 {
  color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2rem;
}

.artist-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8rem 33rem 2em;
      grid-template-columns: 8rem 33rem 2em;
  -ms-grid-rows: 8rem;
      grid-template-rows: 8rem;
}

.artist-data img {
  width: 6rem;
  border-radius: 1rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.artist-data__wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  line-height: 1.7;
}

.artist-data__wrapper h3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
}

.artist-data__wrapper h3::after {
  content: '';
  display: block;
  margin: 0 0;
  width: 90%;
  border-bottom: 1px solid #ffffff;
}

.artist-data__wrapper h5 {
  color: #262b2f;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 500;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: #262b2f;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.u-pt-6 {
  padding-top: 6rem;
}

.home-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.home-layout__spotify {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.home-layout__data {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  color: #ffffff;
}

.user-data {
  position: fixed;
  top: 2rem;
  right: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.user-data img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  width: 30px;
  border-radius: 10rem;
  margin-right: 1rem;
}

.user-data h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
}

.login-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25rem 70rem;
      grid-template-columns: 25rem 70rem;
  -ms-grid-rows: 50rem;
      grid-template-rows: 50rem;
}

.login-screen img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login-screen__text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: self-start;
      justify-self: self-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ffffff;
}

.login-screen h3 {
  font-weight: 900;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.login-screen .btn:link,
.login-screen .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-weight: 800;
}

.login-screen .btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.login-screen .btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.login-screen .btn-white {
  background-color: #ffffff;
  color: #777;
}

.login-screen .btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.login-screen .btn-white::after {
  background-color: #fff;
}

.login-screen .btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.login-screen .btn-animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
/*# sourceMappingURL=main.css.map */